@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

section.repository-list {
 // display: inline-flex;
  margin: 20px;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;

  
  h1{
    margin-bottom: 1rem;
  
  }

  ul{
 
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
    align-items: center;



    
  }
  li{

width: calc(100% / 2);
display: inline-block;
    // & + li {
    //   margin-top: 20px;
    // }
  }

  p{
    font-size: 0.875rem;
    color: #444;
    margin-top: 8px;
    padding: 0.5rem;
  }

  strong{
    padding: 0.5rem;
    margin-top: 10px;
  }

  a{
    display: inline-block;
    margin-top: 0.5rem;
    text-decoration: none;
    color: #8557e6;
    font-size: 0.75rem;
  }

  img{
    display: 1;
    align-items: center;
    text-align: center;
    margin-top: 50%;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: top center;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);


  }

}